//Colores
$azul-osc: #002e6d;
$azul: #006cb2;
$rojo: #e23d40;
$blanco: #fff;
$negro: #1f2124;
$gris: #555555;
$gris1: #eeeeee;
$gris2: #e2e2e2;
$bordes: #bebebe;

//Tipografía
$roboto: 'Roboto', sans-serif;
$bold: 700;
$regular: 400;